.char-page {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.char-container {
  display: flex;
  flex-direction: column;
  margin: 50px 10px;
  max-width: 250px;
  height: 250px;
  background-color: black;
  color: orange;
  text-align: center;
  padding: 10px;
}

* {
  border-radius: 10px;
  font-family: "monospace";
}

header {
  background-image: url(../assets/header-wallpaper.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding: 2px;
}

h1 {
  color: gray;
}
h1:hover span {
  color: white;
  text-shadow: 3px 3px 4px red, 0 0 3em blue, 0 0 0.4em blue;
}

@media screen and (max-width: 500px) {
  header {
    z-index: -1;
    text-align: center;
  }
  header ul {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  header ul li {
    list-style-type: none;
  }
}
@media screen and (min-width: 501px) {
  header {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
  }
  header h1 {
    font-size: 2rem;
    order: 2;
    width: 150px;
  }
  header ul {
    flex-grow: 2;
    background-color: rgba(24, 23, 22, 0.1);
    height: 100px;
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
  }
  header ul li {
    list-style-type: none;
    margin: 5px;
  }
  header ul li:first-of-type {
    position: absolute;
    left: 0;
    top: 7px;
  }
  header ul li:nth-of-type(2) {
    position: absolute;
    left: 50px;
    top: 35px;
  }
  header ul li:nth-of-type(3) {
    position: absolute;
    left: 100px;
    top: 65px;
  }
}
.movies-page {
  padding: 10px 0;
  border: solid;
  text-align: center;
}

.movies-container {
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/* PART FOR TURNING AROUND THE CARD  */
.turnaround-container {
  width: 500px;
  height: 170px;
  padding: 10px 0;
  /* PART FOR FRONT AND BACK SIDE OF CARD */
  /* PART FOR BACK SIDE OF CARD */
  /* PART FOR BACK SIDE OF CARD */
}
.turnaround-container:hover .turnaround {
  transform: rotateY(180deg);
}
.turnaround-container .turnaround {
  position: relative;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  transition: transform 0.6s ease-in-out; /* Smooth flipping */
}
.turnaround-container .front,
.turnaround-container .back {
  width: 400px;
  height: 150px;
  position: absolute;
  backface-visibility: hidden; /* Hide the back when facing away */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}
.turnaround-container .front {
  background-color: black;
  color: white;
  z-index: 2;
}
.turnaround-container .front h3 {
  padding: 10px;
}
.turnaround-container .back {
  background-color: rgb(0, 0, 0);
  transform: rotateY(180deg);
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
  /* PART FOR CRAWLING TEXT - not great finish*/
}
.turnaround-container .back:after {
  content: "";
  position: fixed;
  top: 0;
  width: 100%;
  height: 50%;
  /* background to fade out the text as it goes up */
  background: linear-gradient(180deg, rgb(20, 20, 20) 40%, rgba(20, 20, 20, 0) 100%);
}
.turnaround-container .back .wrapper {
  display: flex;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  perspective: 500px;
  /* Trigger crawling on flip */
}
.turnaround-container .back .wrapper .text-crawling p {
  color: white;
  opacity: 1; /* Hide initially */
  position: relative;
  transform: translateY(200px);
  transition: opacity 0.6s ease-in-out; /* Smooth reveal */
  animation: crawlText 15s infinite linear;
}

@keyframes crawlText {
  0% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(-500px);
  }
}
.planets-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.planets-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  transition: 1s;
}

body {
  padding: 10px;
  margin: 0;
  background-color: gray;
  width: 100vw;
  height: 100%;
}/*# sourceMappingURL=main.css.map */